# Scrap data from Cars 24

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium import webdriver
from selenium.webdriver.common.by import By

### New Delhi Loaction

In [2]:
driver = webdriver.Chrome(r"D:\chromedriver.exe")  # Optional argument, if not specified will search path.
driver.get('https://www.cars24.com/');

time.sleep(5)

In [3]:
wait = WebDriverWait(driver, 10)
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')))
element.click()

In [4]:
element1 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div[2]/div[2]/button')))
element1.click()

In [5]:
element2 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div/div[2]/ul/li[1]/a/span/img')))
element2.click()

In [6]:
element3 = wait.until(EC.element_to_be_clickable((By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div[2]/button')))
element3.click()

### Infinite Scrolling

In [7]:
SCROLL_PAUSE_TIME = 20

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

container=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_1l4fi']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container.append(p)

In [8]:
len(container)

573

In [9]:
Make_year=[]
Brand=[]
Model=[]
Transmission=[]
Kms=[]
Owner=[]
variant=[]
Price=[]
City=[]

In [10]:
container1=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container1.append(p)

In [11]:
for i in range(0,len(container1)):
    Price.append(container1[i])

In [12]:
container2=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container2.append(p)

In [13]:
for i in range(0,len(container2)):
    if 'Hybrid' in container[i][1]:
        variant.append('Petrol + Ev')
    elif 'HYBRID' in container[i][1]:
        variant.append('Petrol + Ev')
    else:
        variant.append(container2[i][2])

In [14]:
for i in range(0,len(container)):
    a=container[i][0]
    Make_year.append(a[0:4])
    Brand.append(a[5::])
    Model.append(container[i][1])
    Kms.append(container[i][2])
    Owner.append(container[i][3])
    City.append('New Delhi')
    if 'Automatic' in container[i][1]:
        Transmission.append('Automatic')
    elif 'AUTOMATIC' in container[i][1]:
        Transmission.append('Automatic')
    else:
        Transmission.append('Manual')

In [15]:
data=list(zip(Make_year,Brand,Model,Transmission,Kms,Owner,variant,City,Price))
              
df= pd.DataFrame(data, columns=['Make_Year','Brand','Model','Transmission','Kms','Owner','Variant','City','Price'])

df

,Make_Year,Brand,Model,Transmission,Kms,Owner,Variant,City,Price
0,2019,Hyundai Verna,1.6 SX VTVT (O) Manual,Manual,"81,902 km",1st Owner,Petrol,New Delhi,"[₹9,81,699]"
1,2014,Mercedes Benz C Class,C 200 AVANTGARDE Automatic,Automatic,"37,531 km",1st Owner,Petrol,New Delhi,"[₹20,53,699]"
2,2020,KIA SELTOS,GTX + AT PETROL Automatic,Automatic,"8,241 km",1st Owner,Petrol,New Delhi,"[₹19,06,399]"
3,2013,Hyundai Grand i10,SPORTZ 1.2 KAPPA VTVT Manual,Manual,"10,558 km",1st Owner,Petrol,New Delhi,"[₹4,00,099]"
4,2020,KIA SELTOS,HTX 1.5 PETROL MT Manual,Manual,"32,799 km",1st Owner,Petrol,New Delhi,"[₹13,75,499]"
...,...,...,...,...,...,...,...,...,...
568,2018,Maruti Swift,LXI Manual,Manual,"7,898 km",1st Owner,Petrol,New Delhi,"[₹5,37,799]"
569,2018,Maruti Swift,VDI Manual,Manual,"30,878 km",1st Owner,Diesel,New Delhi,"[₹5,63,499]"
570,2012,Maruti Swift,ZXI Manual,Manual,"13,159 km",1st Owner,Petrol,New Delhi,"[₹4,12,099]"
571,2018,Maruti Wagon R 1.0,LXI Manual,Manual,"18,451 km",1st Owner,Petrol,New Delhi,"[₹4,24,499]"
572,2014,Maruti Celerio,VXI AMT Automatic,Automatic,"37,803 km",1st Owner,Petrol,New Delhi,"[₹3,59,899]"

In [16]:
driver.quit()

### Location Mumbai

In [17]:
driver = webdriver.Chrome(r"D:\chromedriver.exe")  # Optional argument, if not specified will search path.
driver.get('https://www.cars24.com/');

time.sleep(5)

In [18]:
wait = WebDriverWait(driver, 10)
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')))
element.click()

In [19]:
element2 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div[2]/div[2]/button')))
element2.click()

In [20]:
element3 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div/div[2]/ul/li[4]/a/span/img')))
element3.click()

In [21]:
element4 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div[2]/button')))
element4.click()

In [22]:
SCROLL_PAUSE_TIME = 20

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [23]:
container=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_1l4fi']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container.append(p)
    
Make_year=[]
Brand=[]
Model=[]
Transmission=[]
Kms=[]
Owner=[]
variant=[]
Price=[]
City=[]

container1=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container1.append(p)
    
for i in range(0,len(container1)):
    Price.append(container1[i])

In [24]:
container2=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container2.append(p)
    
for i in range(0,len(container2)):
    if 'Hybrid' in container[i][1]:
        variant.append('Petrol + Ev')
    elif 'HYBRID' in container[i][1]:
        variant.append('Petrol + Ev')
    else:
        variant.append(container2[i][2])
    
for i in range(0,len(container)):
    a=container[i][0]
    Make_year.append(a[0:4])
    Brand.append(a[5::])
    Model.append(container[i][1])
    Kms.append(container[i][2])
    Owner.append(container[i][3])
    City.append('Mumbai')
    if 'Automatic' in container[i][1]:
        Transmission.append('Automatic')
    elif 'AUTOMATIC' in container[i][1]:
        Transmission.append('Automatic')
    else:
        Transmission.append('Manual')
        
data=list(zip(Make_year,Brand,Model,Transmission,Kms,Owner,variant,City,Price))
              
df1= pd.DataFrame(data, columns=['Make_Year','Brand','Model','Transmission','Kms','Owner','Variant','City','Price'])

df1

,Make_Year,Brand,Model,Transmission,Kms,Owner,Variant,City,Price
0,2011,Toyota Corolla Altis,1.8 G Manual,Manual,"1,22,364 km",2nd Owner,Petrol + CNG,Mumbai,"[₹3,85,599]"
1,2013,Maruti Ritz,ZXI Manual,Manual,"14,047 km",1st Owner,Petrol,Mumbai,"[₹3,83,999]"
2,2016,Maruti Baleno,DELTA 1.2 K12 Manual,Manual,"11,510 km",2nd Owner,Petrol,Mumbai,"[₹5,06,399]"
3,2012,Honda Accord,2.4 MT Manual,Manual,"50,161 km",2nd Owner,Petrol,Mumbai,"[₹5,20,199]"
4,2016,Volkswagen Polo,TRENDLINE 1.2L PETROL Manual,Manual,"62,799 km",1st Owner,Petrol,Mumbai,"[₹4,67,599]"
...,...,...,...,...,...,...,...,...,...
509,2018,Maruti Wagon R 1.0,LXI CNG Manual,Manual,"63,568 km",1st Owner,Petrol + CNG,Mumbai,"[₹4,79,549]"
510,2019,Maruti New Wagon-R,1.2L VXI (O) AGS Automatic,Automatic,"78,845 km",1st Owner,Petrol,Mumbai,"[₹5,40,599]"
511,2016,Hyundai Grand i10,ASTA 1.2 KAPPA VTVT OPT Manual,Manual,"9,685 km",1st Owner,Petrol,Mumbai,"[₹5,25,799]"
512,2016,Hyundai Creta,1.6 SX PLUS PETROL Manual,Manual,"30,939 km",2nd Owner,Petrol,Mumbai,"[₹8,34,999]"
513,2016,Maruti Vitara Brezza,VDI Manual,Manual,"82,808 km",2nd Owner,Diesel,Mumbai,"[₹7,12,699]"

In [25]:
driver.quit()

### Gurugram(Gurgaon) Location

In [26]:
driver = webdriver.Chrome(r"D:\chromedriver.exe")  # Optional argument, if not specified will search path.
driver.get('https://www.cars24.com/');

time.sleep(5)

wait = WebDriverWait(driver, 10)
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')))
element.click()

element2 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div[2]/div[2]/button')))
element2.click()

In [27]:
element3 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div/div[2]/ul/li[3]/a/span/img')))
element3.click()

element4 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div[2]/button')))
element4.click()

In [28]:
SCROLL_PAUSE_TIME = 20

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [29]:
container=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_1l4fi']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container.append(p)
    
Make_year=[]
Brand=[]
Model=[]
Transmission=[]
Kms=[]
Owner=[]
variant=[]
Price=[]
City=[]

container1=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container1.append(p)
    
for i in range(0,len(container1)):
    Price.append(container1[i])
    
container2=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container2.append(p)
    
for i in range(0,len(container2)):
    if 'Hybrid' in container[i][1]:
        variant.append('Petrol + Ev')
    elif 'HYBRID' in container[i][1]:
        variant.append('Petrol + Ev')
    else:
        variant.append(container2[i][2])
    
for i in range(0,len(container)):
    a=container[i][0]
    Make_year.append(a[0:4])
    Brand.append(a[5::])
    Model.append(container[i][1])
    Kms.append(container[i][2])
    Owner.append(container[i][3])
    City.append("Gurgaon")
    if 'Automatic' in container[i][1]:
        Transmission.append('Automatic')
    elif 'AUTOMATIC' in container[i][1]:
        Transmission.append('Automatic')
    else:
        Transmission.append('Manual')
        
data=list(zip(Make_year,Brand,Model,Transmission,Kms,Owner,variant,City,Price))
              
df2= pd.DataFrame(data, columns=['Make_Year','Brand','Model','Transmission','Kms','Owner','Variant','City','Price'])

df2

,Make_Year,Brand,Model,Transmission,Kms,Owner,Variant,City,Price
0,2019,Jeep Compass,1.4 SPORT PETROL Manual,Manual,"42,490 km",2nd Owner,Petrol,Gurgaon,"[₹13,89,799]"
1,2019,Jeep Compass,1.4 LONGITUDE (O) AT Automatic,Automatic,"23,327 km",1st Owner,Petrol,Gurgaon,"[₹20,12,799]"
2,2019,Jeep Compass,2.0 LIMITED Manual,Manual,"46,860 km",1st Owner,Diesel,Gurgaon,"[₹19,46,899]"
3,2010,Honda City,S MT PETROL Manual,Manual,"55,387 km",1st Owner,Petrol,Gurgaon,"[₹3,41,899]"
4,2019,MG HECTOR,SHARP DCT PETROL Automatic,Automatic,"9,378 km",1st Owner,Petrol,Gurgaon,"[₹17,94,899]"
...,...,...,...,...,...,...,...,...,...
588,2018,Maruti Swift,LXI Manual,Manual,"7,898 km",1st Owner,Petrol,Gurgaon,"[₹5,37,799]"
589,2018,Maruti Swift,VDI Manual,Manual,"30,878 km",1st Owner,Diesel,Gurgaon,"[₹5,63,499]"
590,2012,Maruti Swift,ZXI Manual,Manual,"13,159 km",1st Owner,Petrol,Gurgaon,"[₹4,12,099]"
591,2018,Maruti Wagon R 1.0,LXI Manual,Manual,"18,451 km",1st Owner,Petrol,Gurgaon,"[₹4,24,499]"
592,2014,Maruti Celerio,VXI AMT Automatic,Automatic,"37,803 km",1st Owner,Petrol,Gurgaon,"[₹3,59,899]"

In [30]:
driver.quit()

### Kolkata Location

In [31]:
driver = webdriver.Chrome(r"D:\chromedriver.exe")  # Optional argument, if not specified will search path.
driver.get('https://www.cars24.com/');

time.sleep(5)

wait = WebDriverWait(driver, 10)
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')))
element.click()

element2 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div[2]/div[2]/button')))
element2.click()

In [32]:
element3 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div/div[2]/ul/li[9]/a/span/img')))
element3.click()

element4 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div[2]/button')))
element4.click()

In [33]:
SCROLL_PAUSE_TIME = 20

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [34]:
container=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_1l4fi']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container.append(p)
    
Make_year=[]
Brand=[]
Model=[]
Transmission=[]
Kms=[]
Owner=[]
variant=[]
Price=[]
City=[]

container1=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container1.append(p)
    
for i in range(0,len(container1)):
    Price.append(container1[i])
    
container2=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container2.append(p)
    
for i in range(0,len(container2)):
    if 'Hybrid' in container[i][1]:
        variant.append('Petrol + Ev')
    elif 'HYBRID' in container[i][1]:
        variant.append('Petrol + Ev')
    else:
        variant.append(container2[i][2])
    
for i in range(0,len(container)):
    a=container[i][0]
    Make_year.append(a[0:4])
    Brand.append(a[5::])
    Model.append(container[i][1])
    Kms.append(container[i][2])
    Owner.append(container[i][3])
    City.append("Kolkata")
    if 'Automatic' in container[i][1]:
        Transmission.append('Automatic')
    elif 'AUTOMATIC' in container[i][1]:
        Transmission.append('Automatic')
    else:
        Transmission.append('Manual')
        
data=list(zip(Make_year,Brand,Model,Transmission,Kms,Owner,variant,City,Price))
              
df3= pd.DataFrame(data, columns=['Make_Year','Brand','Model','Transmission','Kms','Owner','Variant','City','Price'])

df3

,Make_Year,Brand,Model,Transmission,Kms,Owner,Variant,City,Price
0,2021,Hyundai VENUE,S MT 1.2 KAPPA Manual,Manual,"7,239 km",1st Owner,Petrol,Kolkata,"[₹8,02,699]"
1,2018,Maruti Swift,VXI Manual,Manual,"4,044 km",1st Owner,Petrol,Kolkata,"[₹5,37,899]"
2,2021,Hyundai VENUE,S MT 1.2 KAPPA Manual,Manual,"11,156 km",1st Owner,Petrol,Kolkata,"[₹7,72,849]"
3,2020,Ford Ecosport,1.5 TREND TDCI Manual,Manual,"12,860 km",1st Owner,Diesel,Kolkata,"[₹8,40,999]"
4,2016,Maruti Alto K10,VXI Manual,Manual,"9,318 km",1st Owner,Petrol,Kolkata,"[₹3,37,299]"
...,...,...,...,...,...,...,...,...,...
231,2020,Renault Kwid,RXT Opt Manual,Manual,"10,527 km",1st Owner,Petrol,Kolkata,"[₹3,75,299]"
232,2015,Mahindra Scorpio,S10 Manual,Manual,"54,015 km",2nd Owner,Diesel,Kolkata,"[₹8,45,799]"
233,2015,Maruti Alto 800,LXI Manual,Manual,"50,949 km",1st Owner,Petrol,Kolkata,"[₹2,47,299]"
234,2020,Maruti Baleno,DELTA 1.2 K12 Manual,Manual,"14,577 km",1st Owner,Petrol,Kolkata,"[₹6,93,999]"
235,2013,Hyundai i10,MAGNA 1.1 IRDE2 Manual,Manual,"16,792 km",1st Owner,Petrol,Kolkata,"[₹2,83,999]"

In [95]:
driver.quit()

### Noida Location

In [35]:
driver = webdriver.Chrome(r"D:\chromedriver.exe")  # Optional argument, if not specified will search path.
driver.get('https://www.cars24.com/');

time.sleep(5)

wait = WebDriverWait(driver, 10)
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')))
element.click()

element2 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div[2]/div[2]/button')))
element2.click()

In [36]:
element3 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div/div[2]/ul/li[2]/a/span/img')))
element3.click()

element4 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div[2]/button')))
element4.click()

In [37]:
SCROLL_PAUSE_TIME = 20

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [38]:
container=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_1l4fi']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container.append(p)
    
Make_year=[]
Brand=[]
Model=[]
Transmission=[]
Kms=[]
Owner=[]
variant=[]
Price=[]
City=[]

container1=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container1.append(p)
    
for i in range(0,len(container1)):
    Price.append(container1[i])
    
container2=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container2.append(p)
    
for i in range(0,len(container2)):
    if 'Hybrid' in container[i][1]:
        variant.append('Petrol + Ev')
    elif 'HYBRID' in container[i][1]:
        variant.append('Petrol + Ev')
    else:
        variant.append(container2[i][2])
    
for i in range(0,len(container)):
    a=container[i][0]
    Make_year.append(a[0:4])
    Brand.append(a[5::])
    Model.append(container[i][1])
    Kms.append(container[i][2])
    Owner.append(container[i][3])
    City.append("Noida")
    if 'Automatic' in container[i][1]:
        Transmission.append('Automatic')
    elif 'AUTOMATIC' in container[i][1]:
        Transmission.append('Automatic')
    else:
        Transmission.append('Manual')
        
data=list(zip(Make_year,Brand,Model,Transmission,Kms,Owner,variant,City,Price))
              
df4= pd.DataFrame(data, columns=['Make_Year','Brand','Model','Transmission','Kms','Owner','Variant','City','Price'])

df4

,Make_Year,Brand,Model,Transmission,Kms,Owner,Variant,City,Price
0,2020,Hyundai Grand i10,MAGNA 1.2 VTVT Manual,Manual,"6,470 km",1st Owner,Petrol,Noida,"[₹6,08,399]"
1,2020,Hyundai Grand i10,MAGNA 1.2 VTVT Manual,Manual,"13,265 km",2nd Owner,Petrol,Noida,"[₹5,65,199]"
2,2009,Hyundai i10,ERA 1.1 IRDE Manual,Manual,"44,327 km",1st Owner,Petrol,Noida,"[₹1,99,699]"
3,2020,Maruti IGNIS,SIGMA 1.2 K12 Manual,Manual,"15,199 km",1st Owner,Petrol,Noida,"[₹5,06,599]"
4,2014,Nissan Micra,XE DIESEL Manual,Manual,"63,753 km",1st Owner,Diesel,Noida,"[₹2,75,299]"
...,...,...,...,...,...,...,...,...,...
588,2018,Maruti Swift,LXI Manual,Manual,"7,898 km",1st Owner,Petrol,Noida,"[₹5,37,799]"
589,2018,Maruti Swift,VDI Manual,Manual,"30,878 km",1st Owner,Diesel,Noida,"[₹5,63,499]"
590,2012,Maruti Swift,ZXI Manual,Manual,"13,159 km",1st Owner,Petrol,Noida,"[₹4,12,099]"
591,2018,Maruti Wagon R 1.0,LXI Manual,Manual,"18,451 km",1st Owner,Petrol,Noida,"[₹4,24,499]"
592,2014,Maruti Celerio,VXI AMT Automatic,Automatic,"37,803 km",1st Owner,Petrol,Noida,"[₹3,59,899]"

In [39]:
driver.quit()

### Chennai Location

In [40]:
driver = webdriver.Chrome(r"D:\chromedriver.exe")  # Optional argument, if not specified will search path.
driver.get('https://www.cars24.com/');

time.sleep(5)

wait = WebDriverWait(driver, 10)
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')))
element.click()

element2 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div[2]/div[2]/button')))
element2.click()

In [41]:
element3 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div/div[2]/ul/li[8]/a/span/img')))
element3.click()

element4 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div[2]/button')))
element4.click()

In [42]:
SCROLL_PAUSE_TIME = 20

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [43]:
container=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_1l4fi']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container.append(p)
    
Make_year=[]
Brand=[]
Model=[]
Transmission=[]
Kms=[]
Owner=[]
variant=[]
Price=[]
City=[]

container1=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container1.append(p)
    
for i in range(0,len(container1)):
    Price.append(container1[i])
    
container2=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container2.append(p)
    
for i in range(0,len(container2)):
    if 'Hybrid' in container[i][1]:
        variant.append('Petrol + Ev')
    elif 'HYBRID' in container[i][1]:
        variant.append('Petrol + Ev')
    else:
        variant.append(container2[i][2])
    
for i in range(0,len(container)):
    a=container[i][0]
    Make_year.append(a[0:4])
    Brand.append(a[5::])
    Model.append(container[i][1])
    Kms.append(container[i][2])
    Owner.append(container[i][3])
    City.append("Chennai")
    if 'Automatic' in container[i][1]:
        Transmission.append('Automatic')
    elif 'AUTOMATIC' in container[i][1]:
        Transmission.append('Automatic')
    else:
        Transmission.append('Manual')
        
data=list(zip(Make_year,Brand,Model,Transmission,Kms,Owner,variant,City,Price))
              
df5= pd.DataFrame(data, columns=['Make_Year','Brand','Model','Transmission','Kms','Owner','Variant','City','Price'])

df5

,Make_Year,Brand,Model,Transmission,Kms,Owner,Variant,City,Price
0,2012,Hyundai Santro Xing,GL PLUS Manual,Manual,"9,601 km",1st Owner,Petrol,Chennai,"[₹2,71,699]"
1,2015,Maruti Swift,VXI Manual,Manual,"25,083 km",3rd Owner,Petrol,Chennai,"[₹4,00,099]"
2,2017,Maruti Swift,VXI OPT Manual,Manual,"20,080 km",1st Owner,Petrol,Chennai,"[₹5,20,099]"
3,2015,Maruti Swift,VXI Manual,Manual,"58,192 km",3rd Owner,Petrol,Chennai,"[₹4,00,099]"
4,2013,Maruti Wagon R 1.0,VXI Manual,Manual,"35,393 km",1st Owner,Petrol,Chennai,"[₹3,47,399]"
...,...,...,...,...,...,...,...,...,...
513,2018,Hyundai Eon,ERA PLUS Manual,Manual,"60,520 km",1st Owner,Petrol,Chennai,"[₹3,49,999]"
514,2016,Hyundai Eon,ERA PLUS Manual,Manual,"20,995 km",3rd Owner,Petrol,Chennai,"[₹3,32,099]"
515,2016,Hyundai i10,MAGNA 1.1 IRDE2 Manual,Manual,"34,236 km",1st Owner,Petrol,Chennai,"[₹3,98,499]"
516,2017,Fiat URBAN CROSS,EMOTION MULTIJET 1.3,Manual,"35,461 km",1st Owner,Diesel,Chennai,"[₹6,20,799]"
517,2016,Ford Ecosport,1.5 TITANIUM TI VCT Manual,Manual,"25,371 km",1st Owner,Petrol,Chennai,"[₹6,80,499]"

In [44]:
driver.quit()

## Pune Location

In [45]:
driver = webdriver.Chrome(r"D:\chromedriver.exe")  # Optional argument, if not specified will search path.
driver.get('https://www.cars24.com/');

time.sleep(5)

wait = WebDriverWait(driver, 10)
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')))
element.click()

element2 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div[2]/div[2]/button')))
element2.click()

In [46]:
element3 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div/div[2]/ul/li[5]/a/span/img')))
element3.click()

element4 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div[2]/button')))
element4.click()

In [47]:
SCROLL_PAUSE_TIME = 20

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

container=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_1l4fi']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container.append(p)

In [48]:
Make_year=[]
Brand=[]
Model=[]
Transmission=[]
Kms=[]
Owner=[]
variant=[]
City=[]
Price=[]

In [49]:
container1=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container1.append(p)
    
for i in range(0,len(container1)):
    Price.append(container1[i])
    
container2=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container2.append(p)
    
for i in range(0,len(container2)):
    if 'Hybrid' in container[i][1]:
        variant.append('Petrol + Ev')
    elif 'HYBRID' in container[i][1]:
        variant.append('Petrol + Ev')
    else:
        variant.append(container2[i][2])
    
for i in range(0,len(container)):
    a=container[i][0]
    Make_year.append(a[0:4])
    Brand.append(a[5::])
    Model.append(container[i][1])
    Kms.append(container[i][2])
    Owner.append(container[i][3])
    City.append("Pune")
    if 'Automatic' in container[i][1]:
        Transmission.append('Automatic')
    elif 'AUTOMATIC' in container[i][1]:
        Transmission.append('Automatic')
    else:
        Transmission.append('Manual')
        
data=list(zip(Make_year,Brand,Model,Transmission,Kms,Owner,variant,City,Price))
              
df6= pd.DataFrame(data, columns=['Make_Year','Brand','Model','Transmission','Kms','Owner','Variant','City','Price'])

df6

,Make_Year,Brand,Model,Transmission,Kms,Owner,Variant,City,Price
0,2019,Skoda Rapid,1.6 MPI MT ACTIVE Manual,Manual,"10,435 km",1st Owner,Petrol,Pune,"[₹8,00,799]"
1,2012,Honda City,V AT Automatic,Automatic,"43,143 km",1st Owner,Petrol,Pune,"[₹4,91,199]"
2,2015,Toyota Corolla Altis,1.8G LIMITED Manual,Manual,"95,726 km",2nd Owner,Petrol,Pune,"[₹6,18,499]"
3,2021,Nissan MAGNITE,XL Turbo CVT,Manual,"16,264 km",1st Owner,Petrol,Pune,"[₹9,21,999]"
4,2014,Toyota Etios Liva,GD Manual,Manual,"51,841 km",1st Owner,Diesel,Pune,"[₹4,58,899]"
...,...,...,...,...,...,...,...,...,...
416,2018,Maruti Wagon R 1.0,LXI CNG Manual,Manual,"55,961 km",1st Owner,Petrol + CNG,Pune,"[₹4,97,399]"
417,2016,Maruti S Cross,DELTA 1.6 Manual,Manual,"76,760 km",1st Owner,Diesel,Pune,"[₹5,87,499]"
418,2016,Honda Jazz,1.2 V MT Manual,Manual,"15,844 km",1st Owner,Petrol,Pune,"[₹5,76,799]"
419,2016,Volkswagen Polo,COMFORTLINE 1.2L PETROL Manual,Manual,"42,483 km",1st Owner,Petrol,Pune,"[₹4,96,999]"
420,2015,Skoda Rapid,ELEGANCE 1.6 MPFI AT Automatic,Automatic,"20,306 km",2nd Owner,Petrol,Pune,"[₹5,40,599]"

In [50]:
driver.quit()

### Hyderabad

In [51]:
driver = webdriver.Chrome(r"D:\chromedriver.exe")  # Optional argument, if not specified will search path.
driver.get('https://www.cars24.com/');

time.sleep(5)

wait = WebDriverWait(driver, 10)
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')))
element.click()

element2 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div[2]/div[2]/button')))
element2.click()

In [52]:
element3 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div/div[2]/ul/li[7]/a/span/img')))
element3.click()

element4 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div[2]/button')))
element4.click()

In [53]:
SCROLL_PAUSE_TIME = 20

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

container=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_1l4fi']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container.append(p)

In [54]:
Make_year=[]
Brand=[]
Model=[]
Transmission=[]
Kms=[]
Owner=[]
variant=[]
Price=[]
City=[]

In [55]:
container1=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container1.append(p)
    
for i in range(0,len(container1)):
    Price.append(container1[i])

In [56]:
container2=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container2.append(p)

In [57]:
for i in range(0,len(container2)):
    if 'Hybrid' in container[i][1]:
        variant.append('Petrol + Ev')
    elif 'HYBRID' in container[i][1]:
        variant.append('Petrol + Ev')
    else:
        variant.append(container2[i][2])
    
for i in range(0,len(container)):
    a=container[i][0]
    Make_year.append(a[0:4])
    Brand.append(a[5::])
    Model.append(container[i][1])
    Kms.append(container[i][2])
    Owner.append(container[i][3])
    City.append("Hyderabad")
    if 'Automatic' in container[i][1]:
        Transmission.append('Automatic')
    elif 'AUTOMATIC' in container[i][1]:
        Transmission.append('Automatic')
    else:
        Transmission.append('Manual')
        
data=list(zip(Make_year,Brand,Model,Transmission,Kms,Owner,variant,City,Price))
              
df7= pd.DataFrame(data, columns=['Make_Year','Brand','Model','Transmission','Kms','Owner','Variant','City','Price'])

df7

,Make_Year,Brand,Model,Transmission,Kms,Owner,Variant,City,Price
0,2010,Hyundai i10,MAGNA 1.2 Manual,Manual,"50,872 km",2nd Owner,Petrol,Hyderabad,"[₹2,57,599]"
1,2010,Hyundai i10,SPORTZ 1.2 Manual,Manual,"73,586 km",2nd Owner,Petrol,Hyderabad,"[₹2,88,599]"
2,2010,Hyundai i10,MAGNA 1.2 Manual,Manual,"86,486 km",1st Owner,Petrol,Hyderabad,"[₹2,64,999]"
3,2013,Maruti Alto 800,LXI Manual,Manual,"30,889 km",2nd Owner,Petrol,Hyderabad,"[₹2,69,399]"
4,2010,Honda City,S MT PETROL Manual,Manual,"71,117 km",2nd Owner,Petrol,Hyderabad,"[₹4,59,599]"
...,...,...,...,...,...,...,...,...,...
397,2019,Hyundai NEW SANTRO,1.1 SPORTS AMT Automatic,Automatic,"25,384 km",1st Owner,Petrol,Hyderabad,"[₹5,33,399]"
398,2016,Maruti Baleno,ALPHA 1.2 K12 Manual,Manual,"37,446 km",2nd Owner,Petrol,Hyderabad,"[₹6,21,999]"
399,2020,Maruti Baleno,ZETA 1.2 K12 Manual,Manual,"85,221 km",1st Owner,Petrol,Hyderabad,"[₹7,18,799]"
400,2020,Renault Kwid,RXL Manual,Manual,"10,790 km",1st Owner,Petrol,Hyderabad,"[₹4,02,099]"
401,2017,Hyundai i20 Active,1.2 S Manual,Manual,"18,963 km",1st Owner,Petrol,Hyderabad,"[₹6,81,599]"

In [58]:
driver.quit()

### Bengaluru

In [59]:
driver = webdriver.Chrome(r"D:\chromedriver.exe")  # Optional argument, if not specified will search path.
driver.get('https://www.cars24.com/');

time.sleep(5)

wait = WebDriverWait(driver, 10)
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')))
element.click()

element2 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div[2]/div[2]/button')))
element2.click()

In [60]:
element3 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div/div[2]/ul/li[6]/a/span/img')))
element3.click()

element4 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div[2]/button')))
element4.click()

In [61]:
SCROLL_PAUSE_TIME = 20

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

container=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_1l4fi']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container.append(p)

In [62]:
Make_year=[]
Brand=[]
Model=[]
Transmission=[]
Kms=[]
Owner=[]
variant=[]
Price=[]
City=[]

In [63]:
container1=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container1.append(p)
    
for i in range(0,len(container1)):
    Price.append(container1[i])

In [64]:
container2=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container2.append(p)

In [65]:
for i in range(0,len(container2)):
    if 'Hybrid' in container[i][1]:
        variant.append('Petrol + Ev')
    elif 'HYBRID' in container[i][1]:
        variant.append('Petrol + Ev')
    else:
        variant.append(container2[i][2])
    
for i in range(0,len(container)):
    a=container[i][0]
    Make_year.append(a[0:4])
    Brand.append(a[5::])
    Model.append(container[i][1])
    Kms.append(container[i][2])
    Owner.append(container[i][3])
    City.append("Bengaluru")
    if 'Automatic' in container[i][1]:
        Transmission.append('Automatic')
    elif 'AUTOMATIC' in container[i][1]:
        Transmission.append('Automatic')
    else:
        Transmission.append('Manual')
        
data=list(zip(Make_year,Brand,Model,Transmission,Kms,Owner,variant,City,Price))
              
df8= pd.DataFrame(data, columns=['Make_Year','Brand','Model','Transmission','Kms','Owner','Variant','City','Price'])

df8

,Make_Year,Brand,Model,Transmission,Kms,Owner,Variant,City,Price
0,2020,Maruti Ertiga,ZXI SMART HYBRID Manual,Manual,"17,115 km",1st Owner,Petrol + Ev,Bengaluru,"[₹11,75,599]"
1,2010,Maruti Swift Dzire,VXI Manual,Manual,"59,005 km",1st Owner,Petrol,Bengaluru,"[₹3,69,399]"
2,2012,Hyundai i10,ERA 1.1 IRDE Manual,Manual,"17,697 km",1st Owner,Petrol,Bengaluru,"[₹3,77,699]"
3,2010,Hyundai i10,ERA 1.1 IRDE Manual,Manual,"64,638 km",1st Owner,Petrol,Bengaluru,"[₹2,69,099]"
4,2010,Hyundai Accent,EXECUTIVE GLE Manual,Manual,"33,180 km",2nd Owner,Petrol,Bengaluru,"[₹2,30,599]"
...,...,...,...,...,...,...,...,...,...
469,2012,Honda Brio,1.2 V MT I VTEC Manual,Manual,"44,196 km",2nd Owner,Petrol,Bengaluru,"[₹3,54,699]"
470,2020,Maruti Swift,ZXI+ Manual,Manual,"13,366 km",2nd Owner,Petrol,Bengaluru,"[₹7,74,499]"
471,2020,Mahindra XUV 3OO,W8 (O) DIESEL AT Automatic,Automatic,"15,075 km",1st Owner,Diesel,Bengaluru,"[₹14,68,799]"
472,2011,Hyundai i10,SPORTZ 1.2 AT KAPPA2 Automatic,Automatic,"71,825 km",1st Owner,Petrol,Bengaluru,"[₹3,60,799]"
473,2018,Tata TIGOR,Revotron XZA 1.2 Automatic,Automatic,"42,312 km",1st Owner,Petrol,Bengaluru,"[₹5,84,699]"

In [66]:
driver.quit()

### Concat the scrapped data

In [94]:
frames = [df1, df2,df3,df4,df5,df6,df7,df8]
 
cars_data = pd.concat(frames)
cars_data

,Make_Year,Brand,Model,Transmission,Kms,Owner,Variant,City,Price
0,2011,Toyota Corolla Altis,1.8 G Manual,Manual,"1,22,364 km",2nd Owner,Petrol + CNG,Mumbai,"[₹3,85,599]"
1,2013,Maruti Ritz,ZXI Manual,Manual,"14,047 km",1st Owner,Petrol,Mumbai,"[₹3,83,999]"
2,2016,Maruti Baleno,DELTA 1.2 K12 Manual,Manual,"11,510 km",2nd Owner,Petrol,Mumbai,"[₹5,06,399]"
3,2012,Honda Accord,2.4 MT Manual,Manual,"50,161 km",2nd Owner,Petrol,Mumbai,"[₹5,20,199]"
4,2016,Volkswagen Polo,TRENDLINE 1.2L PETROL Manual,Manual,"62,799 km",1st Owner,Petrol,Mumbai,"[₹4,67,599]"
...,...,...,...,...,...,...,...,...,...
469,2012,Honda Brio,1.2 V MT I VTEC Manual,Manual,"44,196 km",2nd Owner,Petrol,Bengaluru,"[₹3,54,699]"
470,2020,Maruti Swift,ZXI+ Manual,Manual,"13,366 km",2nd Owner,Petrol,Bengaluru,"[₹7,74,499]"
471,2020,Mahindra XUV 3OO,W8 (O) DIESEL AT Automatic,Automatic,"15,075 km",1st Owner,Diesel,Bengaluru,"[₹14,68,799]"
472,2011,Hyundai i10,SPORTZ 1.2 AT KAPPA2 Automatic,Automatic,"71,825 km",1st Owner,Petrol,Bengaluru,"[₹3,60,799]"
473,2018,Tata TIGOR,Revotron XZA 1.2 Automatic,Automatic,"42,312 km",1st Owner,Petrol,Bengaluru,"[₹5,84,699]"

In [95]:
cars_data.to_csv('Used_cars.csv')