# Scrap data from Cars 24

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium import webdriver
from selenium.webdriver.common.by import By

### New Delhi Loaction

In [2]:
driver = webdriver.Chrome(r"D:\chromedriver.exe")  # Optional argument, if not specified will search path.
driver.get('https://www.cars24.com/');

time.sleep(5)

In [3]:
wait = WebDriverWait(driver, 10)
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')))
element.click()

In [4]:
element1 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div[2]/div[2]/button')))
element1.click()

In [5]:
element2 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div/div[2]/ul/li[1]/a/span/img')))
element2.click()

In [6]:
element3 = wait.until(EC.element_to_be_clickable((By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div[2]/button')))
element3.click()

### Infinite Scrolling

In [7]:
SCROLL_PAUSE_TIME = 20

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

container=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_1l4fi']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container.append(p)

In [8]:
len(container)

578

In [9]:
Make_year=[]
Brand=[]
Model=[]
Transmission=[]
Kms=[]
Owner=[]
variant=[]
Price=[]
City=[]

In [10]:
container1=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container1.append(p)

In [11]:
for i in range(0,len(container1)):
    Price.append(container1[i])

In [12]:
container2=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container2.append(p)

In [13]:
for i in range(0,len(container2)):
    if 'Hybrid' in container[i][1]:
        variant.append('Petrol + Ev')
    elif 'HYBRID' in container[i][1]:
        variant.append('Petrol + Ev')
    else:
        variant.append(container2[i][2])

In [14]:
for i in range(0,len(container)):
    a=container[i][0]
    Make_year.append(a[0:4])
    Brand.append(a[5::])
    Model.append(container[i][1])
    Kms.append(container[i][2])
    Owner.append(container[i][3])
    City.append('New Delhi')
    if 'Automatic' in container[i][1]:
        Transmission.append('Automatic')
    elif 'AUTOMATIC' in container[i][1]:
        Transmission.append('Automatic')
    else:
        Transmission.append('Manual')

In [15]:
data=list(zip(Make_year,Brand,Model,Transmission,Kms,Owner,variant,City,Price))
              
df= pd.DataFrame(data, columns=['Make_Year','Brand','Model','Transmission','Kms','Owner','Variant','City','Price'])

df

,Make_Year,Brand,Model,Transmission,Kms,Owner,Variant,City,Price
0,2019,Hyundai Verna,1.6 SX VTVT (O) Manual,Manual,"81,902 km",1st Owner,Petrol,New Delhi,"[₹9,81,699]"
1,2014,Mercedes Benz C Class,C 200 AVANTGARDE Automatic,Automatic,"37,531 km",1st Owner,Petrol,New Delhi,"[₹20,53,699]"
2,2020,KIA SELTOS,GTX + AT PETROL Automatic,Automatic,"8,241 km",1st Owner,Petrol,New Delhi,"[₹19,06,399]"
3,2013,Hyundai Grand i10,SPORTZ 1.2 KAPPA VTVT Manual,Manual,"10,558 km",1st Owner,Petrol,New Delhi,"[₹4,00,099]"
4,2020,KIA SELTOS,HTX 1.5 PETROL MT Manual,Manual,"32,799 km",1st Owner,Petrol,New Delhi,"[₹13,75,499]"
...,...,...,...,...,...,...,...,...,...
573,2018,Maruti Wagon R 1.0,LXI Manual,Manual,"18,451 km",1st Owner,Petrol,New Delhi,"[₹4,24,499]"
574,2017,Maruti Swift,LXI OPT Manual,Manual,"41,116 km",1st Owner,Petrol,New Delhi,"[₹4,21,987]"
575,2019,Renault Kwid,RXT 1.0 EASY-R AT OPTION Automatic,Automatic,"4,100 km",1st Owner,Petrol,New Delhi,"[₹4,62,199]"
576,2019,Hyundai NEW SANTRO,ASTA 1.1 MT Manual,Manual,"12,664 km",1st Owner,Petrol,New Delhi,"[₹5,55,999]"
577,2020,Renault Kwid,1.0 RXT Opt Manual,Manual,"10,572 km",2nd Owner,Petrol,New Delhi,"[₹4,52,199]"

In [16]:
driver.quit()

### Location Mumbai

In [17]:
driver = webdriver.Chrome(r"D:\chromedriver.exe")  # Optional argument, if not specified will search path.
driver.get('https://www.cars24.com/');

time.sleep(5)

In [18]:
wait = WebDriverWait(driver, 10)
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')))
element.click()

In [19]:
element2 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div[2]/div[2]/button')))
element2.click()

In [20]:
element3 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div/div[2]/ul/li[4]/a/span/img')))
element3.click()

In [21]:
element4 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div[2]/button')))
element4.click()

In [22]:
SCROLL_PAUSE_TIME = 20

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [23]:
container=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_1l4fi']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container.append(p)
    
Make_year=[]
Brand=[]
Model=[]
Transmission=[]
Kms=[]
Owner=[]
variant=[]
Price=[]
City=[]

container1=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container1.append(p)
    
for i in range(0,len(container1)):
    Price.append(container1[i])

In [24]:
container2=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container2.append(p)
    
for i in range(0,len(container2)):
    if 'Hybrid' in container[i][1]:
        variant.append('Petrol + Ev')
    elif 'HYBRID' in container[i][1]:
        variant.append('Petrol + Ev')
    else:
        variant.append(container2[i][2])
    
for i in range(0,len(container)):
    a=container[i][0]
    Make_year.append(a[0:4])
    Brand.append(a[5::])
    Model.append(container[i][1])
    Kms.append(container[i][2])
    Owner.append(container[i][3])
    City.append('Mumbai')
    if 'Automatic' in container[i][1]:
        Transmission.append('Automatic')
    elif 'AUTOMATIC' in container[i][1]:
        Transmission.append('Automatic')
    else:
        Transmission.append('Manual')
        
data=list(zip(Make_year,Brand,Model,Transmission,Kms,Owner,variant,City,Price))
              
df1= pd.DataFrame(data, columns=['Make_Year','Brand','Model','Transmission','Kms','Owner','Variant','City','Price'])

df1

,Make_Year,Brand,Model,Transmission,Kms,Owner,Variant,City,Price
0,2015,Maruti Swift,VXI Manual,Manual,"34,588 km",1st Owner,Petrol,Mumbai,"[₹4,10,499]"
1,2011,Toyota Corolla Altis,1.8 G Manual,Manual,"1,22,364 km",2nd Owner,Petrol + CNG,Mumbai,"[₹3,85,599]"
2,2013,Maruti Ritz,ZXI Manual,Manual,"14,047 km",1st Owner,Petrol,Mumbai,"[₹3,83,999]"
3,2016,Maruti Baleno,DELTA 1.2 K12 Manual,Manual,"11,510 km",2nd Owner,Petrol,Mumbai,"[₹5,06,399]"
4,2012,Honda Accord,2.4 MT Manual,Manual,"50,161 km",2nd Owner,Petrol,Mumbai,"[₹5,20,199]"
...,...,...,...,...,...,...,...,...,...
492,2014,Hyundai Santro Xing,GL PLUS Manual,Manual,"11,595 km",1st Owner,Petrol,Mumbai,"[₹2,96,499]"
493,2021,Toyota Glanza,G MT PETROL Manual,Manual,"20,107 km",1st Owner,Petrol,Mumbai,"[₹8,17,599]"
494,2016,Renault Lodgy,110 PS RXZ STEPWAY 8 STR Manual,Manual,"67,953 km",1st Owner,Diesel,Mumbai,"[₹5,24,599]"
495,2017,Hyundai Xcent,S AT 1.2 Automatic,Automatic,"48,486 km",1st Owner,Petrol,Mumbai,"[₹5,63,999]"
496,2016,Hyundai Creta,1.6 SX PLUS AUTO PETROL Automatic,Automatic,"44,699 km",1st Owner,Petrol,Mumbai,"[₹10,35,799]"

In [25]:
driver.quit()

### Gurugram(Gurgaon) Location

In [26]:
driver = webdriver.Chrome(r"D:\chromedriver.exe")  # Optional argument, if not specified will search path.
driver.get('https://www.cars24.com/');

time.sleep(5)

wait = WebDriverWait(driver, 10)
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')))
element.click()

element2 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div[2]/div[2]/button')))
element2.click()

In [27]:
element3 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div/div[2]/ul/li[3]/a/span/img')))
element3.click()

element4 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div[2]/button')))
element4.click()

In [28]:
SCROLL_PAUSE_TIME = 20

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [29]:
container=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_1l4fi']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container.append(p)
    
Make_year=[]
Brand=[]
Model=[]
Transmission=[]
Kms=[]
Owner=[]
variant=[]
Price=[]
City=[]

container1=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container1.append(p)
    
for i in range(0,len(container1)):
    Price.append(container1[i])
    
container2=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container2.append(p)
    
for i in range(0,len(container2)):
    if 'Hybrid' in container[i][1]:
        variant.append('Petrol + Ev')
    elif 'HYBRID' in container[i][1]:
        variant.append('Petrol + Ev')
    else:
        variant.append(container2[i][2])
    
for i in range(0,len(container)):
    a=container[i][0]
    Make_year.append(a[0:4])
    Brand.append(a[5::])
    Model.append(container[i][1])
    Kms.append(container[i][2])
    Owner.append(container[i][3])
    City.append("Gurgaon")
    if 'Automatic' in container[i][1]:
        Transmission.append('Automatic')
    elif 'AUTOMATIC' in container[i][1]:
        Transmission.append('Automatic')
    else:
        Transmission.append('Manual')
        
data=list(zip(Make_year,Brand,Model,Transmission,Kms,Owner,variant,City,Price))
              
df2= pd.DataFrame(data, columns=['Make_Year','Brand','Model','Transmission','Kms','Owner','Variant','City','Price'])

df2

,Make_Year,Brand,Model,Transmission,Kms,Owner,Variant,City,Price
0,2019,Jeep Compass,1.4 SPORT PETROL Manual,Manual,"42,490 km",2nd Owner,Petrol,Gurgaon,"[₹13,89,799]"
1,2019,Jeep Compass,1.4 LONGITUDE (O) AT Automatic,Automatic,"23,327 km",1st Owner,Petrol,Gurgaon,"[₹20,12,799]"
2,2019,Jeep Compass,2.0 LIMITED Manual,Manual,"46,860 km",1st Owner,Diesel,Gurgaon,"[₹19,46,899]"
3,2010,Honda City,S MT PETROL Manual,Manual,"55,387 km",1st Owner,Petrol,Gurgaon,"[₹3,41,899]"
4,2019,MG HECTOR,SHARP DCT PETROL Automatic,Automatic,"9,378 km",1st Owner,Petrol,Gurgaon,"[₹17,94,899]"
...,...,...,...,...,...,...,...,...,...
573,2018,Maruti Wagon R 1.0,LXI Manual,Manual,"18,451 km",1st Owner,Petrol,Gurgaon,"[₹4,24,499]"
574,2017,Maruti Swift,LXI OPT Manual,Manual,"41,116 km",1st Owner,Petrol,Gurgaon,"[₹4,21,987]"
575,2019,Renault Kwid,RXT 1.0 EASY-R AT OPTION Automatic,Automatic,"4,100 km",1st Owner,Petrol,Gurgaon,"[₹4,62,199]"
576,2019,Hyundai NEW SANTRO,ASTA 1.1 MT Manual,Manual,"12,664 km",1st Owner,Petrol,Gurgaon,"[₹5,55,999]"
577,2020,Renault Kwid,1.0 RXT Opt Manual,Manual,"10,572 km",2nd Owner,Petrol,Gurgaon,"[₹4,52,199]"

In [30]:
driver.quit()

### Kolkata Location

In [31]:
driver = webdriver.Chrome(r"D:\chromedriver.exe")  # Optional argument, if not specified will search path.
driver.get('https://www.cars24.com/');

time.sleep(5)

wait = WebDriverWait(driver, 10)
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')))
element.click()

element2 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div[2]/div[2]/button')))
element2.click()

In [32]:
element3 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div/div[2]/ul/li[9]/a/span/img')))
element3.click()

element4 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div[2]/button')))
element4.click()

In [33]:
SCROLL_PAUSE_TIME = 20

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [34]:
container=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_1l4fi']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container.append(p)
    
Make_year=[]
Brand=[]
Model=[]
Transmission=[]
Kms=[]
Owner=[]
variant=[]
Price=[]
City=[]

container1=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container1.append(p)
    
for i in range(0,len(container1)):
    Price.append(container1[i])
    
container2=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container2.append(p)
    
for i in range(0,len(container2)):
    if 'Hybrid' in container[i][1]:
        variant.append('Petrol + Ev')
    elif 'HYBRID' in container[i][1]:
        variant.append('Petrol + Ev')
    else:
        variant.append(container2[i][2])
    
for i in range(0,len(container)):
    a=container[i][0]
    Make_year.append(a[0:4])
    Brand.append(a[5::])
    Model.append(container[i][1])
    Kms.append(container[i][2])
    Owner.append(container[i][3])
    City.append("Kolkata")
    if 'Automatic' in container[i][1]:
        Transmission.append('Automatic')
    elif 'AUTOMATIC' in container[i][1]:
        Transmission.append('Automatic')
    else:
        Transmission.append('Manual')
        
data=list(zip(Make_year,Brand,Model,Transmission,Kms,Owner,variant,City,Price))
              
df3= pd.DataFrame(data, columns=['Make_Year','Brand','Model','Transmission','Kms','Owner','Variant','City','Price'])

df3

,Make_Year,Brand,Model,Transmission,Kms,Owner,Variant,City,Price
0,2021,Hyundai VENUE,S MT 1.2 KAPPA Manual,Manual,"7,239 km",1st Owner,Petrol,Kolkata,"[₹8,02,699]"
1,2018,Maruti Swift,VXI Manual,Manual,"4,044 km",1st Owner,Petrol,Kolkata,"[₹5,37,899]"
2,2021,Hyundai VENUE,S MT 1.2 KAPPA Manual,Manual,"11,156 km",1st Owner,Petrol,Kolkata,"[₹7,72,849]"
3,2020,Ford Ecosport,1.5 TREND TDCI Manual,Manual,"12,860 km",1st Owner,Diesel,Kolkata,"[₹8,40,999]"
4,2016,Maruti Alto K10,VXI Manual,Manual,"9,318 km",1st Owner,Petrol,Kolkata,"[₹3,37,299]"
...,...,...,...,...,...,...,...,...,...
232,2013,Hyundai i10,MAGNA 1.1 IRDE2 Manual,Manual,"16,792 km",1st Owner,Petrol,Kolkata,"[₹3,00,599]"
233,2016,Tata Tiago,XM 1.2 REVOTRON Manual,Manual,"29,734 km",1st Owner,Petrol,Kolkata,"[₹3,19,199]"
234,2020,Maruti S PRESSO,VXI PLUS Manual,Manual,"9,190 km",2nd Owner,Petrol,Kolkata,"[₹5,04,199]"
235,2021,Hyundai NEW SANTRO,1.1 MAGNA MT Manual,Manual,"5,752 km",1st Owner,Petrol,Kolkata,"[₹5,17,899]"
236,2017,Hyundai Grand i10,MAGNA 1.2 VTVT Manual,Manual,"36,495 km",1st Owner,Petrol,Kolkata,"[₹4,71,599]"

In [35]:
driver.quit()

### Noida Location

In [36]:
driver = webdriver.Chrome(r"D:\chromedriver.exe")  # Optional argument, if not specified will search path.
driver.get('https://www.cars24.com/');

time.sleep(5)

wait = WebDriverWait(driver, 10)
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')))
element.click()

element2 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div[2]/div[2]/button')))
element2.click()

In [37]:
element3 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div/div[2]/ul/li[2]/a/span/img')))
element3.click()

element4 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div[2]/button')))
element4.click()

In [38]:
SCROLL_PAUSE_TIME = 20

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [39]:
container=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_1l4fi']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container.append(p)
    
Make_year=[]
Brand=[]
Model=[]
Transmission=[]
Kms=[]
Owner=[]
variant=[]
Price=[]
City=[]

container1=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container1.append(p)
    
for i in range(0,len(container1)):
    Price.append(container1[i])
    
container2=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container2.append(p)
    
for i in range(0,len(container2)):
    if 'Hybrid' in container[i][1]:
        variant.append('Petrol + Ev')
    elif 'HYBRID' in container[i][1]:
        variant.append('Petrol + Ev')
    else:
        variant.append(container2[i][2])
    
for i in range(0,len(container)):
    a=container[i][0]
    Make_year.append(a[0:4])
    Brand.append(a[5::])
    Model.append(container[i][1])
    Kms.append(container[i][2])
    Owner.append(container[i][3])
    City.append("Noida")
    if 'Automatic' in container[i][1]:
        Transmission.append('Automatic')
    elif 'AUTOMATIC' in container[i][1]:
        Transmission.append('Automatic')
    else:
        Transmission.append('Manual')
        
data=list(zip(Make_year,Brand,Model,Transmission,Kms,Owner,variant,City,Price))
              
df4= pd.DataFrame(data, columns=['Make_Year','Brand','Model','Transmission','Kms','Owner','Variant','City','Price'])

df4

,Make_Year,Brand,Model,Transmission,Kms,Owner,Variant,City,Price
0,2020,Hyundai Grand i10,MAGNA 1.2 VTVT Manual,Manual,"6,470 km",1st Owner,Petrol,Noida,"[₹6,08,399]"
1,2020,Hyundai Grand i10,MAGNA 1.2 VTVT Manual,Manual,"13,265 km",2nd Owner,Petrol,Noida,"[₹5,65,199]"
2,2009,Hyundai i10,ERA 1.1 IRDE Manual,Manual,"44,327 km",1st Owner,Petrol,Noida,"[₹1,99,699]"
3,2020,Maruti IGNIS,SIGMA 1.2 K12 Manual,Manual,"15,199 km",1st Owner,Petrol,Noida,"[₹5,06,599]"
4,2014,Nissan Micra,XE DIESEL Manual,Manual,"63,753 km",1st Owner,Diesel,Noida,"[₹2,75,299]"
...,...,...,...,...,...,...,...,...,...
573,2018,Maruti Wagon R 1.0,LXI Manual,Manual,"18,451 km",1st Owner,Petrol,Noida,"[₹4,24,499]"
574,2017,Maruti Swift,LXI OPT Manual,Manual,"41,116 km",1st Owner,Petrol,Noida,"[₹4,21,987]"
575,2019,Renault Kwid,RXT 1.0 EASY-R AT OPTION Automatic,Automatic,"4,100 km",1st Owner,Petrol,Noida,"[₹4,62,199]"
576,2019,Hyundai NEW SANTRO,ASTA 1.1 MT Manual,Manual,"12,664 km",1st Owner,Petrol,Noida,"[₹5,55,999]"
577,2020,Renault Kwid,1.0 RXT Opt Manual,Manual,"10,572 km",2nd Owner,Petrol,Noida,"[₹4,52,199]"

In [40]:
driver.quit()

### Chennai Location

In [41]:
driver = webdriver.Chrome(r"D:\chromedriver.exe")  # Optional argument, if not specified will search path.
driver.get('https://www.cars24.com/');

time.sleep(5)

wait = WebDriverWait(driver, 10)
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')))
element.click()

element2 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div[2]/div[2]/button')))
element2.click()

In [42]:
element3 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div/div[2]/ul/li[8]/a/span/img')))
element3.click()

element4 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div[2]/button')))
element4.click()

In [43]:
SCROLL_PAUSE_TIME = 20

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

In [44]:
container=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_1l4fi']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container.append(p)
    
Make_year=[]
Brand=[]
Model=[]
Transmission=[]
Kms=[]
Owner=[]
variant=[]
Price=[]
City=[]

container1=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container1.append(p)
    
for i in range(0,len(container1)):
    Price.append(container1[i])
    
container2=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container2.append(p)
    
for i in range(0,len(container2)):
    if 'Hybrid' in container[i][1]:
        variant.append('Petrol + Ev')
    elif 'HYBRID' in container[i][1]:
        variant.append('Petrol + Ev')
    else:
        variant.append(container2[i][2])
    
for i in range(0,len(container)):
    a=container[i][0]
    Make_year.append(a[0:4])
    Brand.append(a[5::])
    Model.append(container[i][1])
    Kms.append(container[i][2])
    Owner.append(container[i][3])
    City.append("Chennai")
    if 'Automatic' in container[i][1]:
        Transmission.append('Automatic')
    elif 'AUTOMATIC' in container[i][1]:
        Transmission.append('Automatic')
    else:
        Transmission.append('Manual')
        
data=list(zip(Make_year,Brand,Model,Transmission,Kms,Owner,variant,City,Price))
              
df5= pd.DataFrame(data, columns=['Make_Year','Brand','Model','Transmission','Kms','Owner','Variant','City','Price'])

df5

,Make_Year,Brand,Model,Transmission,Kms,Owner,Variant,City,Price
0,2015,Maruti Swift,VXI Manual,Manual,"25,083 km",3rd Owner,Petrol,Chennai,"[₹4,00,099]"
1,2015,Maruti Swift,VXI Manual,Manual,"58,192 km",3rd Owner,Petrol,Chennai,"[₹4,00,099]"
2,2013,Maruti Wagon R 1.0,VXI Manual,Manual,"35,393 km",1st Owner,Petrol,Chennai,"[₹3,47,399]"
3,2019,Maruti Swift,VDI Manual,Manual,"85,019 km",2nd Owner,Diesel,Chennai,"[₹6,90,999]"
4,2015,Maruti Alto 800,LXI Manual,Manual,"22,995 km",3rd Owner,Petrol,Chennai,"[₹2,47,599]"
...,...,...,...,...,...,...,...,...,...
498,2014,Maruti Wagon R 1.0,VXI Manual,Manual,"75,417 km",1st Owner,Petrol,Chennai,"[₹3,60,999]"
499,2017,Fiat URBAN CROSS,EMOTION MULTIJET 1.3,Manual,"35,461 km",1st Owner,Diesel,Chennai,"[₹6,20,799]"
500,2021,Renault Kwid,1.0 RXT Opt AT Automatic,Automatic,"5,196 km",1st Owner,Petrol,Chennai,"[₹5,47,199]"
501,2016,Ford Ecosport,1.5 TITANIUM TI VCT Manual,Manual,"25,371 km",1st Owner,Petrol,Chennai,"[₹6,80,499]"
502,2017,Tata Tiago,XZA 1.2 REVOTRON Automatic,Automatic,"30,413 km",1st Owner,Petrol,Chennai,"[₹5,16,499]"

In [45]:
driver.quit()

## Pune Location

In [46]:
driver = webdriver.Chrome(r"D:\chromedriver.exe")  # Optional argument, if not specified will search path.
driver.get('https://www.cars24.com/');

time.sleep(5)

wait = WebDriverWait(driver, 10)
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')))
element.click()

element2 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div[2]/div[2]/button')))
element2.click()

In [47]:
element3 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div/div[2]/ul/li[5]/a/span/img')))
element3.click()

element4 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div[2]/button')))
element4.click()

In [48]:
SCROLL_PAUSE_TIME = 20

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

container=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_1l4fi']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container.append(p)

In [49]:
Make_year=[]
Brand=[]
Model=[]
Transmission=[]
Kms=[]
Owner=[]
variant=[]
City=[]
Price=[]

In [50]:
container1=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container1.append(p)
    
for i in range(0,len(container1)):
    Price.append(container1[i])
    
container2=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container2.append(p)
    
for i in range(0,len(container2)):
    if 'Hybrid' in container[i][1]:
        variant.append('Petrol + Ev')
    elif 'HYBRID' in container[i][1]:
        variant.append('Petrol + Ev')
    else:
        variant.append(container2[i][2])
    
for i in range(0,len(container)):
    a=container[i][0]
    Make_year.append(a[0:4])
    Brand.append(a[5::])
    Model.append(container[i][1])
    Kms.append(container[i][2])
    Owner.append(container[i][3])
    City.append("Pune")
    if 'Automatic' in container[i][1]:
        Transmission.append('Automatic')
    elif 'AUTOMATIC' in container[i][1]:
        Transmission.append('Automatic')
    else:
        Transmission.append('Manual')
        
data=list(zip(Make_year,Brand,Model,Transmission,Kms,Owner,variant,City,Price))
              
df6= pd.DataFrame(data, columns=['Make_Year','Brand','Model','Transmission','Kms','Owner','Variant','City','Price'])

df6

,Make_Year,Brand,Model,Transmission,Kms,Owner,Variant,City,Price
0,2019,Skoda Rapid,1.6 MPI MT ACTIVE Manual,Manual,"10,435 km",1st Owner,Petrol,Pune,"[₹8,00,799]"
1,2012,Honda City,V AT Automatic,Automatic,"43,143 km",1st Owner,Petrol,Pune,"[₹4,91,199]"
2,2015,Toyota Corolla Altis,1.8G LIMITED Manual,Manual,"95,726 km",2nd Owner,Petrol,Pune,"[₹6,18,499]"
3,2021,Nissan MAGNITE,XL Turbo CVT,Manual,"16,264 km",1st Owner,Petrol,Pune,"[₹9,21,999]"
4,2016,Maruti Swift,VXI Manual,Manual,"14,907 km",2nd Owner,Petrol,Pune,"[₹5,04,399]"
...,...,...,...,...,...,...,...,...,...
410,2013,Maruti Swift,ZXI Manual,Manual,"46,147 km",1st Owner,Petrol,Pune,"[₹5,07,299]"
411,2017,Maruti Alto 800,LXI Manual,Manual,"47,587 km",1st Owner,Petrol,Pune,"[₹3,19,999]"
412,2019,Maruti XL6,ALPHA SHVS MT Manual,Manual,"32,460 km",2nd Owner,Petrol,Pune,"[₹10,93,399]"
413,2022,Maruti Alto,VXI Manual,Manual,"1,255 km",1st Owner,Petrol,Pune,"[₹4,70,799]"
414,2015,Skoda Rapid,ELEGANCE 1.6 MPFI AT Automatic,Automatic,"20,456 km",2nd Owner,Petrol,Pune,"[₹5,40,599]"

In [51]:
driver.quit()

### Hyderabad

In [52]:
driver = webdriver.Chrome(r"D:\chromedriver.exe")  # Optional argument, if not specified will search path.
driver.get('https://www.cars24.com/');

time.sleep(5)

wait = WebDriverWait(driver, 10)
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')))
element.click()

element2 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div[2]/div[2]/button')))
element2.click()

In [53]:
element3 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div/div[2]/ul/li[7]/a/span/img')))
element3.click()

element4 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div[2]/button')))
element4.click()

In [54]:
SCROLL_PAUSE_TIME = 20

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

container=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_1l4fi']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container.append(p)

In [55]:
Make_year=[]
Brand=[]
Model=[]
Transmission=[]
Kms=[]
Owner=[]
variant=[]
Price=[]
City=[]

In [56]:
container1=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container1.append(p)
    
for i in range(0,len(container1)):
    Price.append(container1[i])

In [57]:
container2=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container2.append(p)

In [58]:
for i in range(0,len(container2)):
    if 'Hybrid' in container[i][1]:
        variant.append('Petrol + Ev')
    elif 'HYBRID' in container[i][1]:
        variant.append('Petrol + Ev')
    else:
        variant.append(container2[i][2])
    
for i in range(0,len(container)):
    a=container[i][0]
    Make_year.append(a[0:4])
    Brand.append(a[5::])
    Model.append(container[i][1])
    Kms.append(container[i][2])
    Owner.append(container[i][3])
    City.append("Hyderabad")
    if 'Automatic' in container[i][1]:
        Transmission.append('Automatic')
    elif 'AUTOMATIC' in container[i][1]:
        Transmission.append('Automatic')
    else:
        Transmission.append('Manual')
        
data=list(zip(Make_year,Brand,Model,Transmission,Kms,Owner,variant,City,Price))
              
df7= pd.DataFrame(data, columns=['Make_Year','Brand','Model','Transmission','Kms','Owner','Variant','City','Price'])

df7

,Make_Year,Brand,Model,Transmission,Kms,Owner,Variant,City,Price
0,2010,Hyundai i10,MAGNA 1.2 Manual,Manual,"50,872 km",2nd Owner,Petrol,Hyderabad,"[₹2,57,599]"
1,2010,Hyundai i10,SPORTZ 1.2 Manual,Manual,"73,586 km",2nd Owner,Petrol,Hyderabad,"[₹2,88,599]"
2,2010,Hyundai i10,MAGNA 1.2 Manual,Manual,"86,486 km",1st Owner,Petrol,Hyderabad,"[₹2,64,999]"
3,2013,Maruti Alto 800,LXI Manual,Manual,"30,889 km",2nd Owner,Petrol,Hyderabad,"[₹2,69,399]"
4,2010,Honda City,S MT PETROL Manual,Manual,"71,117 km",2nd Owner,Petrol,Hyderabad,"[₹4,59,599]"
...,...,...,...,...,...,...,...,...,...
396,2016,Maruti Baleno,ALPHA 1.2 K12 Manual,Manual,"37,446 km",2nd Owner,Petrol,Hyderabad,"[₹6,21,999]"
397,2020,Renault Kwid,RXL Manual,Manual,"10,790 km",1st Owner,Petrol,Hyderabad,"[₹4,02,099]"
398,2013,Maruti Wagon R 1.0,VXI Manual,Manual,"54,727 km",2nd Owner,Petrol,Hyderabad,"[₹3,31,799]"
399,2019,Renault Kwid,CLIMBER 1.0 Manual,Manual,"45,650 km",1st Owner,Petrol,Hyderabad,"[₹4,23,899]"
400,2019,Renault Kwid,CLIMBER 1.0 Manual,Manual,"45,650 km",1st Owner,Petrol,Hyderabad,"[₹4,23,899]"

In [59]:
driver.quit()

### Bengaluru

In [60]:
driver = webdriver.Chrome(r"D:\chromedriver.exe")  # Optional argument, if not specified will search path.
driver.get('https://www.cars24.com/');

time.sleep(5)

wait = WebDriverWait(driver, 10)
element = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[1]/div[2]/p')))
element.click()

element2 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div[2]/div[2]/button')))
element2.click()

In [61]:
element3 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[8]/div/div/div/div/div[2]/ul/li[6]/a/span/img')))
element3.click()

element4 = wait.until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div[2]/button')))
element4.click()

In [62]:
SCROLL_PAUSE_TIME = 20

# Get scroll height
last_height = driver.execute_script("return document.body.scrollHeight")

while True:
    # Scroll down to bottom
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # Wait to load page
    time.sleep(SCROLL_PAUSE_TIME)

    # Calculate new scroll height and compare with last scroll height
    new_height = driver.execute_script("return document.body.scrollHeight")
    if new_height == last_height:
        break
    last_height = new_height

container=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_1l4fi']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container.append(p)

In [63]:
Make_year=[]
Brand=[]
Model=[]
Transmission=[]
Kms=[]
Owner=[]
variant=[]
Price=[]
City=[]

In [64]:
container1=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//div[@class='_7udZZ']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container1.append(p)
    
for i in range(0,len(container1)):
    Price.append(container1[i])

In [65]:
container2=[]
Product_Name_tag=driver.find_elements(By.XPATH,"//ul[@class='bVR0c']")
for k in Product_Name_tag:
    p=k.text.split("\n")
    container2.append(p)

In [66]:
for i in range(0,len(container2)):
    if 'Hybrid' in container[i][1]:
        variant.append('Petrol + Ev')
    elif 'HYBRID' in container[i][1]:
        variant.append('Petrol + Ev')
    else:
        variant.append(container2[i][2])
    
for i in range(0,len(container)):
    a=container[i][0]
    Make_year.append(a[0:4])
    Brand.append(a[5::])
    Model.append(container[i][1])
    Kms.append(container[i][2])
    Owner.append(container[i][3])
    City.append("Bengaluru")
    if 'Automatic' in container[i][1]:
        Transmission.append('Automatic')
    elif 'AUTOMATIC' in container[i][1]:
        Transmission.append('Automatic')
    else:
        Transmission.append('Manual')
        
data=list(zip(Make_year,Brand,Model,Transmission,Kms,Owner,variant,City,Price))
              
df8= pd.DataFrame(data, columns=['Make_Year','Brand','Model','Transmission','Kms','Owner','Variant','City','Price'])

df8

,Make_Year,Brand,Model,Transmission,Kms,Owner,Variant,City,Price
0,2020,Maruti Ertiga,ZXI SMART HYBRID Manual,Manual,"17,115 km",1st Owner,Petrol + Ev,Bengaluru,"[₹11,75,599]"
1,2010,Maruti Swift Dzire,VXI Manual,Manual,"59,005 km",1st Owner,Petrol,Bengaluru,"[₹3,69,399]"
2,2012,Hyundai i10,ERA 1.1 IRDE Manual,Manual,"17,697 km",1st Owner,Petrol,Bengaluru,"[₹3,77,699]"
3,2010,Hyundai i20,ASTA 1.2 O WITH SUNROOF Manual,Manual,"46,408 km",2nd Owner,Petrol,Bengaluru,"[₹4,12,799]"
4,2010,Maruti Swift,VXI Manual,Manual,"58,591 km",1st Owner,Petrol,Bengaluru,"[₹3,75,899]"
...,...,...,...,...,...,...,...,...,...
457,2013,Honda Brio,1.2 V MT I VTEC Manual,Manual,"57,427 km",1st Owner,Petrol,Bengaluru,"[₹4,18,799]"
458,2017,Honda City,VX CVT PETROL Automatic,Automatic,"57,854 km",1st Owner,Petrol,Bengaluru,"[₹9,54,799]"
459,2014,Hyundai Verna,FLUIDIC 1.4 VTVT CX Manual,Manual,"74,519 km",1st Owner,Petrol,Bengaluru,"[₹5,67,899]"
460,2015,Maruti Swift,VXI Glory edition Manual,Manual,"40,107 km",1st Owner,Petrol,Bengaluru,"[₹4,99,690]"
461,2011,Maruti Ritz,VXI Manual,Manual,"40,032 km",1st Owner,Petrol,Bengaluru,"[₹3,64,870]"

In [67]:
driver.quit()

### Concat the scrapped data

In [68]:
frames = [df,df1, df2,df3,df4,df5,df6,df7,df8]
 
cars_data = pd.concat(frames)
cars_data

,Make_Year,Brand,Model,Transmission,Kms,Owner,Variant,City,Price
0,2019,Hyundai Verna,1.6 SX VTVT (O) Manual,Manual,"81,902 km",1st Owner,Petrol,New Delhi,"[₹9,81,699]"
1,2014,Mercedes Benz C Class,C 200 AVANTGARDE Automatic,Automatic,"37,531 km",1st Owner,Petrol,New Delhi,"[₹20,53,699]"
2,2020,KIA SELTOS,GTX + AT PETROL Automatic,Automatic,"8,241 km",1st Owner,Petrol,New Delhi,"[₹19,06,399]"
3,2013,Hyundai Grand i10,SPORTZ 1.2 KAPPA VTVT Manual,Manual,"10,558 km",1st Owner,Petrol,New Delhi,"[₹4,00,099]"
4,2020,KIA SELTOS,HTX 1.5 PETROL MT Manual,Manual,"32,799 km",1st Owner,Petrol,New Delhi,"[₹13,75,499]"
...,...,...,...,...,...,...,...,...,...
457,2013,Honda Brio,1.2 V MT I VTEC Manual,Manual,"57,427 km",1st Owner,Petrol,Bengaluru,"[₹4,18,799]"
458,2017,Honda City,VX CVT PETROL Automatic,Automatic,"57,854 km",1st Owner,Petrol,Bengaluru,"[₹9,54,799]"
459,2014,Hyundai Verna,FLUIDIC 1.4 VTVT CX Manual,Manual,"74,519 km",1st Owner,Petrol,Bengaluru,"[₹5,67,899]"
460,2015,Maruti Swift,VXI Glory edition Manual,Manual,"40,107 km",1st Owner,Petrol,Bengaluru,"[₹4,99,690]"
461,2011,Maruti Ritz,VXI Manual,Manual,"40,032 km",1st Owner,Petrol,Bengaluru,"[₹3,64,870]"

In [69]:
cars_data.to_csv('Used_cars.csv')